#waybar {
    font-family: "Fira Sans SemiBold";
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.8);

}

#window {}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar.solo {}

window#waybar.empty {}

#workspaces {
    border: 2px solid lightsalmon;
    border-radius: 10px;
    padding: 0px;
    margin: 0 10px 0 0;
    color: white;
    box-shadow: none;
}

#workspaces button {
    color: white;
    padding: 2px 10px;
    margin: 0;
}

#workspaces button.visible {
    background-color: rgba(255, 160, 122, 0.582);
}

#workspaces button.focused {}

#workspaces button.focused.current_output {
    background-color: lightsalmon;
    color: black;
}

#workspaces button.urgent {}

#workspaces button:hover {
    background-color: rgba(255, 160, 122, 0.582);
    color: white;
}

#pulseaudio,
#battery,
#clock,
#tray {
	margin-right: 15px;
}
